.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  border-radius: 10px;
  margin-bottom: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roll {
  background-color: #4287f5;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.roll-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  min-height: 400px; /* Adjust the height as needed */
}

.rolls {
  width: 50%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Add a scroll bar if the content overflows */
  padding-right: 0px; /* Add some padding to the right to separate the scrollbar from text */
  align-self: flex-start; /* Align to the top of the container */
}

.electrum-section {
  width: 30%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align to the right */
}

.clear-button {
  background-color: #f00;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.electrum-section {
  width: 25%;
  text-align: right;
  padding-top: 10px;
}

.electrum-section p {
  margin: 0;
  white-space: nowrap;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .roll-section {
    flex-direction: column;
    align-items: center;
  }

  .rolls {
    width: 100%;
    margin-bottom: 20px;
  }

  .electrum-section {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
}
